{% extends "layout.html" %}
{% block title %}Graphs{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

{% endblock %}
{% block content %}
	<h1>Graphs</h1>
	
	<form action="{{ url_for('graph', username=username) }}" method="POST">
		<select name="fields" id="fields">
			{% for key in options %}
			<option value="{{ key }}" {% if key == current_data %} selected {% endif %}>{{ options[key] }}</option>
			{% endfor %}
		</select>
		<select name="type" id="type">
			<option value="line">Line</option>
			<option value="bar">Bar</option>
		</select>
		<button type="submit" hidden>Show</button>
	</form>

	<div id="{{ chart|safe }}" class='chart'></div>
	<script type="text/javascript">
	$(function () {
	    $("#{{ chart|safe }}").highcharts({{ data|safe }});
	});

	$(function() {
    $('#type').change(function() {
        this.form.submit();
    });
});   
	</script>
{% endblock %}